{% extends 'convergine-contentbuddy/_layouts/_settings' %}
{% do view.registerAssetBundle("convergine\\contentbuddy\\assets\\BuddyAssets") %}
{% import '_includes/forms' as forms %}

{% set title = 'Settings' %}
{% set selectedSubnavItem = 'settings' %}

{% set fullPageForm = true %}

{% block content %}
    {{ craft.contentbuddy.checkLicense()|raw }}
    <input type="hidden" name="action" value="convergine-contentbuddy/settings/save-settings">
    {% namespace 'settings' %}
        {{ forms.selectField({
            label: 'AI Service'|t('convergine-contentbuddy'),
            name: 'textAi',
            value: settings.textAi,
            options: {
                "openai": "OpenAI",
                "xai": "xAI"
            },
            toggle: true
        }) }}

        <div id="openai" class="{% if settings.textAi != 'openai' %}hidden{% endif %}">
            {{ forms.selectField({
                label: 'OpenAI Preferred Model'|t('convergine-contentbuddy'),
                name: 'preferredModel',
                value: settings.preferredModel,
                instructions: 'modelDescription'|t('convergine-contentbuddy'),
                options: [
                    { optgroup: "GPT Models" },
                    { value: "gpt-4.5-preview", label: "gpt-4.5-preview" },
                    { value: "gpt-4o", label: "gpt-4o" },
                    { value: "gpt-4o-mini", label: "gpt-4o-mini" },
                    { value: "gpt-4-turbo", label: "gpt-4-turbo" },
                    { value: "gpt-4", label: "gpt-4" },
                    { value: "gpt-3.5-turbo", label: "gpt-3.5-turbo" },

                    { optgroup: "Reasoning Models" },
                    { value: "o1", label: "o1" },
                    { value: "o3-mini", label: "o3-mini" }
                ]
            }) }}

            {{ forms.autosuggestField({
                label: 'API: Access Token'|t('convergine-contentbuddy'),
                name: 'apiToken',
                value: settings.apiToken,
                instructions: 'Access token for the ChatGPT API'|t('convergine-contentbuddy'),
                suggestEnvVars: true,
            }) }}
        </div>

        <div id="xai" class="{% if settings.textAi != 'xai' %}hidden{% endif %}">
            {{ forms.selectField({
                label: 'xAI Preferred Model'|t('convergine-contentbuddy'),
                name: 'xAiModel',
                value: settings.xAiModel,
                instructions: 'xAiModelDescription'|t('convergine-contentbuddy'),
                options: {
                    "grok-3": "grok-3",
                    "grok-3-fast": "grok-3-fast",
                    "grok-2-vision": "grok-2-vision",
                    "grok-2": "grok-2",
                    "grok-vision-beta": "grok-vision-beta",
                    "grok-beta": "grok-beta",
                }
            }) }}

            {{ forms.autosuggestField({
                label: 'xAI API Key'|t('convergine-contentbuddy'),
                name: 'xAiApiKey',
                value: settings.xAiApiKey,
                instructions: 'API Key for the xAI API'|t('convergine-contentbuddy'),
                suggestEnvVars: true,
            }) }}
        </div>

        {{ forms.textareaField({
            label: 'System Message'|t('convergine-contentbuddy'),
            name: 'systemMessage',
            value: settings.systemMessage,
            instructions: 'systemMessageDescription'|t('convergine-contentbuddy')
        }) }}

        <div class="buddy-slider-cont field">
            <div class="heading">
                <label>{{ 'Temperature'|t('convergine-contentbuddy') }}</label>
            </div>
            <div class="flex">{{ 'Sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic'|t('convergine-contentbuddy')}}</div>
            <div class="flex">
                <input
                        type="range"
                        step="0.1"
                        min="0"
                        max="2"
                        class="buddy-slider"
                        id="temperature"
                        value="{{ settings.temperature }}"
                        name="temperature"
                        data-gtm-form-interact-field-id="0"
                >
                <span>{{ settings.temperature }}</span>
            </div>
        </div>

    {% endnamespace %}
{% endblock %}
