{% if items|length %}
    <h3>{{ 'Translations Log' |t('convergine-contentbuddy') }}</h3>
    <div class="tableview">

        <table class="data fullwidth">
            <thead>
            <tr>
                <th scope="col" style="width: 20%">{{ 'Section' |t('convergine-contentbuddy') }}</th>
                <th scope="col" style="width: 15%">Translate To</th>
                <th scope="col" style="width: 10%">Job Status</th>
                <th scope="col" style="width: 5%">Entries<br>Submitted</th>

                <th scope="col" style="width: 5%">Fields<br>Processed</th>
                <th scope="col" style="width: 5%">Fields<br>Translated</th>
                <th scope="col" style="width: 5%">Fields<br>Skipped</th>
                <th scope="col" style="width: 5%">Field<br>Errors</th>
                <th class="col" style="width: 15%">Date Created</th>
                <th class="thin" style="width: 10%">Status</th>
                <th class="thin" style="width: 10%"></th>

            </tr>
            </thead>
            <tbody>

            {% for item in items %}
                {% set sectionName = '' %}

                {% if isCraft5 %}
                    {% set section = craft.app.entries.getSectionById(item.sectionId) %}
                {% else %}
                    {% set section = craft.app.sections.getSectionById(item.sectionId) %}
                {% endif %}

                {% set site = craft.app.sites.getSiteById(item.siteId) %}

                {% if section %}
                    {% set sectionName = section.name %}
                {% else %}

					{% if item.sectionId == '0' %}
						{% set productType = craft.commerce.productTypes.getProductTypeById(item.sectionType) %}
						{% if productType %}
							{% set sectionName = 'Product Type: ' ~ productType.name %}
						{% endif %}
					{% else %}
						{% set category = craft.categories()
							.id(item.idEntry)
							.one() %}
						{% if category %}
							{% set sectionName =  'Category: ' ~ category.group.name %}
						{% endif %}
					{% endif %}
                {% endif %}

                {% if site %}
                <tr class="s-{{ item.id }}">
                    <td class="label-column">{{ sectionName }}</td>
                    <td class="handle-column">
                        {{ site.name }} ({{ site.language }})
                    </td>
                    <td class="label-column">
                        {{ craft.contentbuddy.getJobsInfo(item.id)|raw }}
                    </td>
                    <td class="group-column">
                        {{ item.entriesSubmitted }}

                        {% set entry = craft.entries().id(item.idEntry).one() %}
                        {% set category = craft.categories().id(item.idEntry).one() %}
                        {% if item.idEntry and (entry or category) %}
                            <a style="display:inline-block;width:12px;height:12px;color:rgb(37, 99, 235)" href="{{ entry ? entry.url() : category.url() }}" target="_blank" title="{{ entry ? entry.title : category.title }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="rgb(37, 99, 235)"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6l0-128c0-17.7-14.3-32-32-32L352 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/></svg>
                            </a>
                        {% endif %}
                    </td>
                    <td class="group-column"><strong>{{ item.fieldsProcessed }}</strong> of {{ item.fieldsCount }}</td>
                    <td class="group-column">{{ item.fieldsTranslated }}</td>
                    <td class="group-column">{{ item.fieldsSkipped }}</td>
                    <td class="group-column">
                        {% if item.fieldsError > 0 %}
                            <a href="{{ url('convergine-contentbuddy/site-translate/log',{'id':item.id}) }}">
                        {% endif %}
                        {{ item.fieldsError }}
                        {% if item.fieldsError > 0 %}
                            </a>
                        {% endif %}
                    </td>
                    <td class="enabled-column">
                        {{ item.dateCreated | datetime}}
                    </td>
                    <td>
                        {{ craft.contentbuddy.getTranslationStatus(item.id)|raw }}
                        {# % if craft.contentbuddy.hasActiveJobs(item.id) ==0 %}
                            {% if item.fieldsError > 0 %}
                                <form method="post">
                                    {{ hiddenInput('translationId',item.id) }}
                                    {{ csrfInput() }}
                                    {{ actionInput('convergine-contentbuddy/translate/rerun/') }}

                                    <button type="submit" class="btn submit" data-icon="refresh" id="" aria-label="Re run translate">
                                        <div class="label">Re run</div>
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %#}
                    </td>
                    <td class="delete-column">
                        {% if craft.contentbuddy.hasActiveJobs(item.id) ==0 %}
                        <a href="{{ actionUrl('convergine-contentbuddy/translate/delete/',{'id':item.id}) }}"
                           class="delete icon translate-delete" title="{{ 'Delete'|t('app') }}" role="button">
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}


